<div class="registration" >
   
    
   
    <h2 class="registration-header">Registration </h2>
    <form [formGroup]="loginForm" class="registration-container">
        <p><input type="name" placeholder="Name"></p>
        <p><input type="email" placeholder="Email"></p>
        <p><input type="password" placeholder="Password"></p>
         <p><input type="mobile" placeholder="Mobile No"></p>
        <p><input type="refCode" placeholder="Referral Code"></p>
        <p><input type="submit" value="Registration "></p>
      </form>

  </div>

